@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Offside&subset=latin-ext');
/* CSS Document */
.container{
			max-width: 980px;
		}

hr.white{
	border: 0;
	height: 2px;
	background: -webkit-linear-gradient(left, white, rgba(0,0,0,0));
}
hr.white-2{
	border: 0;
	height: 1px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	margin-top: 0;
}

.politica-termos{	
	background-image: url(../images/back-confirma.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: black;
	padding:100px 0 50px;
}

.logo-head{
	margin:20px 0 20px;
}
.logo-head img{
	width: 250px;
}

.head-logo{
	background-color: black;
}

.politica-termos h1{
	margin: 0px 0 20px 0;
	font-family: 'Monda', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	color: #25d338;
}

.politica-termos h2{
	margin: 60px 0 20px 0;
	font-family: 'Monda', sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	color: white;
	font-weight: 700;
}

.politica-termos p{
	font-family: 'Offside';
	font-size: 15px;
	color: white;
	text-align: justify;
	line-height: 30px;
	margin: 0 0 20px 0;
}


/* -------------------REDES--------------------- */
.redes{
	background: -webkit-linear-gradient(left, #07b917, #2bd86f);
	padding: 20px;
}

.content-redes{
	display: inline-flex;
	padding: 0 20px;
}
.content-redes p{
	font-family: 'Offside', cursive;
	color:#EDEDED;
	font-size: 15px;
}


/* -------------------FOOTER--------------------- */

footer{
	background-color: black;
}

footer img{
	width: 80px;
	margin: 40px;
	
}
footer p{
	margin: 50px 0;
	
}
footer a{
	text-decoration: none;
	color:#333333;
}

.LCAS{
	font-size: 12px;
	margin-bottom: 10px;
}
