@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Monda:400,700|Offside&subset=latin-ext');
/* CSS Document */
body{
	margin: 0;
}

.container{
			max-width: 980px;
		}

/* -------------------MODAL--------------------- */

.modal{
	padding-top: 10%;
}

body .modal-dialog{
	width:  680px;
}

.modal-title{
	font-family: "Monda";
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}



.infusion-field{
	font-family: 'Offside', cursive;
	font-size: 25px;
	text-transform: uppercase;
	max-height: 80px;
	padding: 0 20px;
}

.infusion-field-input-container{
	border: solid 1px #BFBFBF;
	border-radius: 50px;
	padding: 10px 20px;
	width: 100%;
}

.infusion-submit{
	padding: 0 20px;
}

.infusion-recaptcha{
	font-family: 'Offside', cursive;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin:10px 0 30px;
    cursor: pointer;
	width: 100%;
	color: white;
	background: rgba(7,185,22,1);
	background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
	background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
}


hr.white{
	border: 0;
	height: 2px;
	background: -webkit-linear-gradient(left, white, rgba(0,0,0,0));
}
hr.white-2{
	border: 0;
	height: 1px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), white, rgba(0,0,0,0));
	margin-top: 0;
}

hr.black-2{
	border: 0;
	height: 1px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), black, rgba(0,0,0,0));
	margin-top: 0;
}


.cta{
	font-family: 'Offside', cursive;
	font-size: 25px;
	text-transform: uppercase;
	border: none;
	border-radius: 50px;
	padding: 10px 30px;
	margin:50px 0;
    cursor: pointer;
	width: 550px;
	color: white;
	background: rgba(7,185,22,1);
	background: -moz-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(7,185,22,1)), color-stop(69%, rgba(43,216,112,1)), color-stop(100%, rgba(43,216,112,1)));
	background: -webkit-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -o-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: -ms-linear-gradient(left, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	background: linear-gradient(to right, rgba(7,185,22,1) 0%, rgba(43,216,112,1) 69%, rgba(43,216,112,1) 100%);
	 -webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.cta:hover{
	transform: scale(1.05);
}

/* -------------------HEAD--------------------- */

.head-lista{
	background-image:url(../images/back-video.png);
	background-size: cover;
	background-position: bottom center;
	background-repeat: no-repeat;
	background-color: black;
}
.logo-head{
	margin:20px 0 20px;
}
.logo-head img{
	width: 250px;
}

.head-logo{
	background-color: black;
}

.head-lista{
	padding: 30px 0;
}

.head-lista h1{
	font-family: 'Monda';
	font-size: 45px;
	color: #25d338;
	text-transform: uppercase;
	font-weight: 700;
}

.head-lista p{
	font-family: 'Monda';
	font-size: 22px;
	color: white;
	text-transform: uppercase;
}


/* -------------------REDES--------------------- */
.redes{
	background: -webkit-linear-gradient(left, #07b917, #2bd86f);
	padding: 20px;
}

.content-redes{
	display: inline-flex;
	padding: 0 20px;
}
.content-redes p{
	font-family: 'Offside', cursive;
	color: white;
	font-size: 15px;
}

/* -------------------DEPOIMENTOS--------------------- */

.depoimentos{
	margin: 120px 0 60px;
	background-color: white;
}

.depoimentos h2{	
	font-family: 'Monda';
	font-size: 40px;
	color: #25d338;
	text-transform: uppercase;
}
.depoimentos p{
	font-family: 'Monda';
	font-size: 17px;
	text-transform: uppercase;
}

.thumbs{
	margin-top: 100px;
}

.video-depoimento{
	margin-bottom: 30px;
}

/* -------------------TRADER--------------------- */

.trader{
	background-image: url(../images/back-video-2.png);
	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	background-color: white;
}

.trader img{
	width: 90%;
}

.trader p{
	margin: 50px 0 50px 0;
	color: black;
	font-family: 'Offside', cursive;
	font-size: 18px;
	line-height: 35px;
}

.trader h3{
		font-family: 'Monda';
	font-size: 45px;
	color: #2bd663;
	text-transform: uppercase;
}





.foto-trader{
	margin: 50px 0 10px;
}

.foto-trader li{
	display: inline-block;
	margin: 20px 5px;	
}
.foto-trader ul{
	padding: 0;

}

.foto-trader i{
	width: 30px;
	height: 30px;
	padding: 8px 0;
	border: 1px black solid;
	border-radius: 50px;
	color: black;
	 -webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.foto-trader i:hover{
	color: #2bd86f;
	border: 1px solid #2bd86f;
}

/* -------------------FAQ--------------------- */

.FAQ{
	padding: 50px 0;
	background-color: #e5e5e5;
}

.FAQ h4{
	font-family: 'Monda';
	text-transform: uppercase;
	color: #292929;
	font-size: 25px;
	margin-bottom: 50px;
}

.FAQ h5{
	font-family: 'Offside';
	font-size: 15px;
	color: #292929;
	margin: 50px 0 20px 0;
}

.FAQ p{
	font-family: 'Offside';
	font-size: 15px;
	color: #797979;
	text-align: justify;
	line-height: 30px;
}

/* -------------------FOOTER--------------------- */

footer{
	background-color: black;
}

footer img{
	width: 80px;
	margin: 40px;
	
}
footer p{
	margin: 50px 0;
	
}
footer a{
	text-decoration: none;
	color:#333333;
}

.LCAS{
	font-size: 12px;
	margin-bottom: 10px;
}
